body{
	background-color: rgb(230,230,230);
	color: rgb(0,0,0);
	font-family: 'Nanum Myeongjo';
	background-image:URL(images/background-picture.jpg);
    font-size: 30px
    font-weight: lighter;
}   
 
 h1 { 
    color: #fd8203;
    font-weight: 900,;
    LETTER-SPACING: 5px;
    text-transform: normal;
    font-family: 'Cormorant'
}

h2{
	color: #fd8203;
    font-weight: 900;
    LETTER-SPACING: 5px;
    text-transform: uppercase;
    font-family: 'Poiret One'
}

a{
	text-decoration: none;
	color: orange;
	font-weight:bold;
	transition: color 0.6s ease
}

a:hover{
	color: orange;
}


@media (max-width: 760px){
  .container {
     width: 600px;
 }
} 

@media (max-width: 540px){
  .container{
     width: 400px;
 }
}

.container {
	width: 700px;
	margin: 30px auto;
}

.card-white{
	background: rgba(230,230,230,0.8);
	padding:25px;
	box-shadow:0px 10px 30px rgba(10,10,93,0.9);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
    border-radius:50%;
}

.btn-blue{
	background-color:#ff471a;
	color:white;
	padding:15px 20px;
	border-radius:4px;
}

.btn-blue:hover {
   background-color:#4dc3ff;
   color:white;
}

.list-inline{
	list-style:none;
	padding:0px;
}

.list-inline li{	
	display:inline;
	padding:10px;
}

.list-inline i{
	font-size:50px;
	color: rgb(230,230,230);
	letter-spacing: 30px
}

.list-inline i:hover{
	font-size: 50px;
	color:#ff471a;
}

#introduction p{
	margin-bottom:40px;
}
